<!DOCTYPE html>
<html>
	<head>
		<title>Chariot Tech Cast</title>
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css" />
		<link rel="stylesheet" href="/techcast.css" type="text/css" media="screen" title="no title" charset="utf-8">
		
		<script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js"></script>
		<script src="/techcast.js" type="text/javascript" charset="utf-8"></script>
				
	</head>
	<body>
		<%= yield %>
	</body>
</html>
